/**
 * The boot configs file. To use - rename to xvm.xc.
 *
 * Reference format: ${"path to config file":"."}
 * // - comment out the line (will not be used)
 *
 * ---------------------------------------------------------------
 * Пример загрузочного файла конфигов. Для использования переименовать в xvm.xc.
 *
 * Формат ссылки: ${"путь к файлу конфига":"."}
 * // - закомментировать строку (использоваться не будет)
 */
//${"configs/xvm.xc":"."}
${"configs/@Default/@xvm.xc":"."}